.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheading,
.name {
  text-align: center;
}

.name {
  font-weight: 800;
  font-size: 1.25rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.imageContainer img {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.image img {
  clip-path: circle(75px);
  max-width: 150px;
  height: 150px;
}

.portfolioWebsite {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0.5rem;
}

.contactSection {
  max-width: 300px;
  margin: 0.75rem;
}

.contact {
  font-weight: 800;
  font-size: 1.25rem;
  padding: 1rem 0;
}

.contact div {
  padding: 1rem 0;
}

.contactPhone {
  padding-bottom: 0.5rem;
}

/* Main Bar */

.mainbar {
  width: 100%;
  background-color: #654556;
  color: #fff;
  padding: 2rem;
}

.heading {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
  text-transform: uppercase;
}

.projectCards {
  display: flex;
}

.card {
  max-width: 230px;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  font-size: 0.85rem;
  margin-right: 1rem;
}

.cardHeading {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.projectLink {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.projectLink a {
  text-decoration: underline;
  font-weight: bold;
}

.cardDescription {
  margin: 0.5rem 0;
}

/* Skills */

.skills {
  display: flex;
}

.skill {
  margin: 1rem;
}

.skill svg {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  /* .container {
    width: 100%;
    display: block;
  } */

  /* .sidebar {
    max-width: 100%;
    width: 100%;
    height: max-content;
  } */

  .mainbar {
    padding: 1rem 1.5rem;
  }

  .projectCards {
    display: block;
  }

  .card {
    margin-bottom: 1rem;
    max-width: 100%;
    margin-right: 0;
  }

  .heading {
    margin-top: 1rem 0;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    display: block;
  }

  .sidebar {
    height: max-content;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
